body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(223, 228, 232);
    margin: 60px;
}
.main_contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 50, 50);
    padding-top: 60px;
    gap: 5px;
    height: 600px;
    width: 400px;
    border-radius: 43px;

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7), 0 0 10px rgba(255, 255, 255, 0.1);
}
.main_contener div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5px;
}
.block0 {
    height: 50px;
    width: 50%;
    cursor: pointer;
    border-radius: 200px;
    border: 2px solid aliceblue;
    background-color: rgb(19, 20, 20);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
}
.block0 p {
    text-align: center;
    font-style:inherit;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.block button {
    height: 60px;
    width: 60px;
    border-radius: 20px ;
    cursor: pointer;
}
.block1 button {
    height: 60px;
    width: 100px;
    border-radius: 20px ;
    cursor: pointer;
}